.addRowSession:hover, .editableSession:hover, .addsite:hover, .cancel:hover, .deleteSession:hover, .editSession:hover, .updateSession:hover{
    cursor: pointer;
}
.addRowSession a {
    text-decoration: none;
}
.addRowSession {
    padding:1em;
    font-color:#3A477B;
    padding:1em;
    font-weight:bold;
}
#editSessions {
    valign: top;
}

#login form .submit input {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana,
		sans-serif;
	padding: 3px 5px;
	border: none;
	font-size: 13px;
	border-width: 1px;
	border-style: solid;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	cursor: default;
	text-decoration: none;
	margin-top: -6px;
}


